@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap");
/*
* Google Fonts:
*   font-family: 'Poppins', sans-serif;
*       font-weight: 500;
*       font-weight: 700;
*   font-family: 'Roboto', sans-serif;
*       font-weight: 400;
*       font-weight: 700;
*/

@import url("normalize.css");

:root {
    /* Font Variables */
    --font-heading: 'Poppins', Helvetica, Arial, sans-serif;
    --font-body: 'Roboto', Helvetica, Arial, sans-serif;

    /* Color Variables */

    /* Sizing Variables */
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* General */

html {
    font-size: 100%;
    color: #000;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
    background: #fff;
    padding: .5em 0;
    margin-bottom: 1em;
    position: sticky;
    top: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: 500;
}

h1 {
    font-size: 2.25rem;
    text-align: center;
    font-weight: 700;
}

h2 {
    text-align: center;
    color: #494949;
}

a:link, a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover, a:focus {
    color: #b4b4b4;
}

/* ------ Mobile Styles ------ */

/* Layout */

.content {
    max-width: 960px;
    margin: auto;
    padding: 0 1rem;
}

#select-grid {
    display: grid;
    justify-items: center;
    grid-gap: 2.5rem;
}

    #select-grid .select-item {
        background: #b4b4b4;
    }

        #select-grid .select-item a {
            color: #000;
        }

        #select-grid .select-item .thumbnail {
            border: 2px solid #000;
            width: 100%;
        }

        #select-grid .select-item .item-headline {
            font-size: 1.25rem;
            padding: 0 1em;
        }

#work-area {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

/* Elements */

button, .button {
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
    display: inline-block;
    cursor: pointer;

    /* Clear defaults */
    background: none;
    outline: none;
    border: none;

    background: #A1A1A1;
    padding: .5rem 1em;
    border-radius: 30px;
}

    button:hover, .button:hover,
    button:focus, .button:focus {
        color: #fff;
        background: #b4b4b4;
    }

    .button.back-link {
        background: #FF5D73;
    }

        .button.back-link:hover,
        .button.back-link:focus {
            background: #d85466;
        }

#to-top {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

#controls {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

    #controls .control-bar {
        height: 3.75rem;
        width: 21.5rem;
        margin-bottom: 1em;
        padding: 0.625rem;
        border-radius: 1.875rem;

        background: #fff;

        display: flex;
    }

    #controls #color-bar {
        justify-content: space-between;
    }

    #controls #tool-bar {
        justify-content: space-around;
    }

        /* To be removed once icons are implemented */
        #controls .control-bar .dummy-tool {
            width: 40px;
            height: 40px;
            background: #000;
            border-radius: 50%;
        }

        .toolIcon {
            width: 40px;
            height: 40px;
            margin: 0 auto;
        }

/* Modal styles */
div.modal {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Allow for scolling if modal excedes viewport height */
    background-color: rgb(0,0,0); /* Fallback color for older browsers */
    background-color: rgba(0,0,0,0.4);
}

    /* Styles when modal is open */
    div.modal.active {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem;
    }

    div.modal-content {
        position: relative;
        background: #fff;
        border-radius: 1rem;
        -webkit-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.5);
        padding: 2rem;
    }

        div.modal-content > button.close {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    
/*Color picker wheel*/
#picker {
    margin: 1rem auto 0;
}
svg.IroWheel, svg.IroSlider, #selected-color-shower {
    width: 200px;
    margin: auto;
}

#selected-color-shower {
    background-color: black;
    border-radius: 50px;
    text-align: center;
    margin-top: 1rem;
}

#selected-color-shower h3 {
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0;
}

/*color picker modal specific styles*/
#color-picker_modal h2{
    margin: 2.5rem auto 0;
}



/* ------ Tablet Styles ------ */
/* min-width: 768px */
@media screen and (min-width: 48rem) {
    /* General */

    h1 {
        font-size: 3rem;
    }

    /* Layout */

    #select-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

/* ------ Tablet Styles ------ */
/* min-width: 1024px */
@media screen and (min-width: 64rem) {
    /* General */

    /* Layout */

    #select-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* ------ Color Picker Presets ------ */
#controls .radio-colors {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40;
}
.form-input-check + label span {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 0 4px 0 0;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #222;
    cursor: pointer;
    position: relative;
}
.form-input-check:checked + label span {
    background: #222;
}
.radio-colors {
    margin-bottom: 0 !important;
}
.radio-colors label {
    margin-bottom: 0;
    color: gray;
}
.form-input-check {
    display: none;
}
.radio-colors .form-input-check + label span {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 4px;
    background: red;
    border: none;
    top: -6px;
}
.radio-colors .form-input-check:checked + label span {
    background: red;
    border: 2px solid white;
    box-shadow: 0 0 0 2px red;
}

/* ORANGE */
.radio-colors.radio-colors-orange .form-input-check + label span {
    background: #DF7139;
}
.radio-colors.radio-colors-orange .form-input-check:checked + label span {
    background: #DF7139;
    box-shadow: 0 0 0 3px #DF7139;
}

/* RED */
.radio-colors.radio-colors-red .form-input-check + label span {
    background: #DD3D48;
}
.radio-colors.radio-colors-red .form-input-check:checked + label span {
    background: #DD3D48;
    box-shadow: 0 0 0 3px #DD3D48;
}

/* YELLOW */
.radio-colors.radio-colors-yellow .form-input-check + label span {
    background: #F3C252;
}
.radio-colors.radio-colors-yellow .form-input-check:checked + label span {
    background: #F3C252;
    box-shadow: 0 0 0 3px #F3C252;
}

/* BLUE */
.radio-colors.radio-colors-blue .form-input-check + label span {
    background: #6291EE;
}
.radio-colors.radio-colors-blue .form-input-check:checked + label span {
    background: #6291EE;
    box-shadow: 0 0 0 3px #6291EE;
}

/* GREEN */
.radio-colors.radio-colors-green .form-input-check + label span {
    background: #B2D86C;
}
.radio-colors.radio-colors-green .form-input-check:checked + label span {
    background: #B2D86C;
    box-shadow: 0 0 0 3px #B2D86C;
}

/* HEX */
.hex-picker {
    display: inline-block;
    width: 42x;
    height: 42px;
    margin: 6px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    top: -6px;
}