@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap");
/* 
* Google Fonts:
*   font-family: 'Poppins', sans-serif;
*       font-weight: 500;
*       font-weight: 700;
*   font-family: 'Roboto', sans-serif;
*       font-weight: 400;
*       font-weight: 700;
*/

@import url("normalize.css");

:root {
    /* Font Variables */
    --font-heading: 'Poppins', Helvetica, Arial, sans-serif;
    --font-body: 'Roboto', Helvetica, Arial, sans-serif;

    /* Color Variables */

    /* Sizing Variables */
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* General */

html {
    font-size: 100%;
    color: #000;
}

body {
    position: relative;
    background: #DFDFDF;
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
}

header {
    background: #fff;
    padding: .5em 0;
    position: sticky;
    top: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: 500;
}

h1 {
    font-size: 2.25rem;
    text-align: center;
    font-weight: 700;
}

h2 {
    text-align: center;
    color: #494949;
}

a:link, a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover, a:focus {
    color: #b4b4b4;
}

/* ------ Mobile Styles ------ */

/* Layout */

.content {
    max-width: 960px;
    margin: auto;
    padding: 0 1rem;
}

#select-grid {
    display: grid;
    justify-items: center;
    grid-gap: 2.5rem;
}

    #select-grid .select-item {
        background: #b4b4b4;
    }

        #select-grid .select-item a {
            color: #000;
        }

        #select-grid .select-item .thumbnail {
            border: 2px solid #000;
            width: 100%;
        }

        #select-grid .select-item .item-headline {
            font-size: 1.25rem;
            padding: 0 1em;
        }

/* Elements */

button, .button {
    font-weight: 700;
    font-size: 1.5rem;

    /* Clear defaults */
    background: none;
    outline: none;
    border: none;

    background: #A1A1A1;
    padding: .5rem 1em;
    border-radius: 30px;
}

    button:hover, .button:hover {
        color: #fff;
        background: #b4b4b4;
    }

#to-top {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

/* ------ Tablet Styles ------ */
/* min-width: 768px */
@media screen and (min-width: 48rem) {
    /* General */

    h1 {
        font-size: 3rem;
    }

    /* Layout */

    #select-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

/* ------ Tablet Styles ------ */
/* min-width: 1024px */
@media screen and (min-width: 64rem) {
    /* General */

    /* Layout */

    #select-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}